@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: #09090b; /* Match Tailwind zinc-900 background */
  color-scheme: dark; /* Makes scrollbar dark mode friendly */
}

#root {
  overflow-x: hidden;
}
